configuration {
    hover-select: true;
    me-select-entry: "MousePrimary";
    me-accept-entry: "!MousePrimary";
    click-to-exit: true;
}

@theme "~/.config/rofi/theme.rasi"

window {
    font: "Geist 12";
    width: 25em;
    height: 21em;
    transparency: "real";
    enabled: true;
    cursor: "default";
    spacing: 0em;
    background-color: transparent;
    border-radius: 1em;
}

mainbox {
    enabled: true;
    spacing: 0em;
    orientation: vertical;
    children: [ "message", "listview" ];
    background-color: @base-200-opa;
    border-radius: 1em;
    border-color: @primary-opa;
    border: 3px;
}

message {
    enabled: true;
    background-color: @base-200;
    text-color: @primary;
    border: none;
}

textbox {
    padding: 6px 1em 6px 0px;
    font: "Geist Light 14";
    horizontal-align: 0.0;
    vertical-align: 0.0;
}

listview {
    enabled: true;
    spacing: 0.3em;
    padding: 0em;
    columns: 1;
    lines: 6;
    cycle: true;
    dynamic: true;
    scrollbar: false;
    layout: vertical;
    reverse: false;
    expand: true;
    fixed-height: true;
    fixed-columns: true;
    cursor: "default";
    background-color: transparent;
}

element {
    enabled: true;
    spacing: 5.3em;
    padding: 0.6em 2.7em;
    cursor: pointer;
    background-color: transparent;
}

element.normal.normal,
element.alternate.normal {
    background-color: transparent;
    text-color: @neutral;
}

element selected.normal {
    border-radius: 0.5em;
    // background-color: @primary-opa;
    background-image: linear-gradient(135deg,#d5aed666,#7866C44d,#7A7FDE66);
    text-color: @secondary;
    border-color: @primary-opa;
    border: 1px;
}
element-icon {
    size: 1.5em;
    cursor: inherit;
    background-color: transparent;
    text-color: inherit;
}
element-text {
    vertical-align: 0.5;
    horizontal-align: 0.0;
    cursor: inherit;
    background-color: transparent;
    text-color: inherit;
    highlight: bold;
}

// Error message //
error-message {
    text-color: #cdd6f4ff;
    background-color: #11111be6;
    text-transform: capitalize;
    children: [ "textbox" ];
}

textbox {
    text-color: inherit;
    background-color: inherit;
    vertical-align: 0.5;
    horizontal-align: 0.5;
}
